@model List<BlogPost>
@{
    ViewData["Title"] = "Admin";
}

<div class="container">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <hr class="small" />
            <span class="subheading">Here you can manage your blog posts</span>

            <table class="table table-bordered table-striped mt-4">
                <thead class="table-dark">
                    <tr>
                        <th>ID</th>
                        <th>Post Title</th>
                        <th>Sub Title</th>
                        <th>Date</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var post in Model)
                    {
                        <tr>
                            <td>@post.Id</td>
                            <td>@post.PostTitle</td>
                            <td>@post.PostSubTitle</td>
                            <td>@DateDisplayHelper.FormatUtcToEst(post.CreatedAt)</td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@post.Id">Edit</a>
                            </td>
                            <td>
                                <form asp-action="Delete" asp-route-id="@post.Id" method="post" class="d-inline">
                                    @Html.AntiForgeryToken()
                                    <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
